/* Footer Styles */
.footer {
  width: 100%;
  padding: 15px 0;
  background-color: var(--accent-color);
  color: #314862;
  margin: 0;
}

.footer .copyright p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: var(--default-font);
}
